body {
  font-family: "Roboto", sans-serif;
}
.titles {
  color: gray;
  font-weight: normal;
}
.number-item {
  color: #ffc300;
}
#left-wrapper {
  width: 30%;
  height: 100%;
  /* border: 3px solid firebrick;*/
  float: left;
  background-color: #eeecec;
}
#right-wrapper {
  width: 65%;
  height: 100%;
  /*border: 3px solid firebrick;*/
  margin: auto;
  float: right;
}
.about-content {
  margin-top: 120px;
}
.profile-photo-content {
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 40px;
  height: 365px;
  align-items: right;
}
.right-div-content {
  margin-top: 60px;
  padding-bottom: 30px;
  padding-right: 10px;
  /*border: 3px solid firebrick;*/
}
.left-div-content {
  margin-top: 80px;
  padding-bottom: 150px;
  padding-left: 180px;
  /*border: 3px solid firebrick;*/
}
.skills {
  margin-top: 520px;
}
#last-name {
  text-transform: uppercase;
  color: #ffc300;
}
#profile-photo {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  align-content: center;
}
hr {
  margin-top: 60px;
  margin-right: 80px;
}
#icons-content {
  margin-top: 150px;
  /*border: 3px solid firebrick;*/
  float: right;
  margin-right: 90px;
  height: 100px;
}
.icons {
  color: gray;
  width: 30px;
  height: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 230px);
}
h4,
p {
  color: gray;
}
.grid-container-exterpise {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}
.grid-item-exterpise {
  position: relative;
}
progress {
  -webkit-appearance: none;
  overflow: hidden;
  border-radius: 15px;
  width: 300px;
  height: 10px;
}
progress::-webkit-progress-bar {
  background: #eeecec;
}
progress::-webkit-progress-value {
  background: #ffc300;
}
#intro-text {
  margin-right: 50px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 20%;
}
.skills-item {
  float: right;
  width: 360px;
  align-content: center;
}
.number-item-content {
  float: left;
}
.exterpise-item-content {
  float: right;
  width: 360px;
}
/* some parts was taken from https://www.w3schools.com/howto/howto_css_modals.asp"*/
